.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.header_nav a {
  font-weight: bold;
  color: #2c3e50;
}

.header_nav-logo {
  display: flex;
  align-items: center;
}

.header_sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.header_nav-item {
  text-decoration: none;
  margin-right: 0.5rem;
}

.header_nav-item:hover {
  text-decoration: underline;
}

@media (max-width:1024px) {
  .header_nav-logo-image {
      width: 25vw
  }
}





